.article-wrapper {
  padding: 80px calc(110px - 40px);
  display: flex;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.article-image {
  margin-bottom: 30px;
}

.article-title {
  font-family: 'Abel', serif;
  font-size: 30px;
  line-height: 38px;
  color: #1C1E20;
  margin-bottom: 10px;
}

.article-content {
  font-family: 'Abel', serif;
  font-size: 18px;
  line-height: 30px;
  color: #1C1E20;
  margin-bottom: 40px;
}

.read-more {
  font-family: 'Abel', serif;
  font-size: 18px;
  line-height: 23px;
  color: #787878;
}
